* {
  font-family: helvetica;
}

body {
  line-height: 1.5;
  font-size: 100%;

}

article {
  border-bottom: 1px solid black;
  margin: 0 3%;
}

.main-header {
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
  color: #0E187F;
}

header h1 {
/*to do : find cool font*/
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
}

header h3 {
/*to do: find cool font*/
  margin-top : 10px;
  text-align: center;
  font-size: 30px;
}


.template {
  display: none;
}

a:visited {
  color: #0E187F;
}

#articles h1 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 40px;
}

.byline {
  font-style: italic;
}

.article-body {
  border-bottom: 1px solid black;
  padding-bottom: 25px;
  text-align: justify;
}
