.main-header {
  position: relative;
}

nav {
  position: absolute;
  top: 4%;
  left: 1%;
}

nav:hover ul {
  display: block;
  position: absolute;
  margin-right: 0;
  margin-top: 0px;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.screenshots {
  margin-bottom: 200px;
}

#about-me h1 {
  text-align: center;
}

#about-me p {
  margin-bottom: 20px;
}
#about-me a {
  float: left;
  margin-right: 10px;
}

#about-me img {
  max-width: 180px;
}
